.pokemons{
    
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;    
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon{    
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #FFF;
    opacity: .8;
    transition: 500ms linear;
    cursor: pointer;
}

.pokemon:hover{
    opacity: 1;
    transform: scale(1.1);

}

.pokemon .number{
    color: #000;
    text-align: right;
    opacity: .3;
    font-size: .625rem ;
}

.pokemon .name{
    color: #FFF;
    margin: .25rem 0;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    color: #FFF;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6C79DB;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    color: #FFF;
    border: none;
    border-radius: 1rem;
    transition: 500ms linear;
}   

.pagination button:hover{
    transform: scale(1.5);
    font-size: .8;
    cursor: pointer;
}
    
@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.cardContainer{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: #00000080;
    backdrop-filter: blur(10px);
    
}

.cardContent{
    width: 300px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #FFFFFF96;
 
}

.cardClose{
    top: -10px;
    right: -130px;
    position: relative ;
    border: none;
    border-radius: 60px;
    text-align: center;
    color: #FFF;
    background-color: #000;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.topoCard{
    background-color: #77c850;
    color: #FFF;
    width: 270px;
    height: 175px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    font-size: 1rem;
}

.topoCard .cardNumber{
    opacity: .7;
}

.topoCard img{
    width: 100px ;
    height: 100px;
}

.detailCard{
    background-color: #fbfaf7;
    width: 270px;
    height: 250px;
    border-radius: 0 0 10px 10px;
    padding: .8rem;
    list-style: none;
}

.detailCard ol{
    list-style: none;
}

.detailCard span{
    font-size: .9rem;
}

.detailCard p{
    font-size: .7rem;
}